Automated Personalized Email.json
{
  "name": "Automated Personalized Email",
  "nodes": [
    {
      "parameters": {
        "fileSelector": "****",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -38816,
        -2620
      ],
      "id": "0f1fc425-1388-4478-ba72-e184441226f7",
      "name": "Read/Write Files from Disk1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -38592,
        -2620
      ],
      "id": "5191f61c-2fa4-4f87-a118-238d9c609c37",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "fieldToSplitOut": "rfm_recency, rfm_frequency, rfm_monetary, last_viewed, favorite_content_topics, lifecyclestage, industry, email, firstname, purchase_value",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -38368,
        -2620
      ],
      "id": "cc23cba7-e1ba-471f-b12a-631050440e2f",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -38144,
        -2620
      ],
      "id": "2f4fd060-007e-4002-a148-5646d6173e2b",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=SYSTEM_PROMPT: You are an expert direct marketing and e-commerce copywriter. Your task is to generate the body of a highly personalized email, strictly in English, based on the provided client metrics. Write in a friendly and direct tone, focusing on a clear call-to-action. Do not include the Subject Line, Signature, or Salutation (e.g., \"Hi [Name]\").\n\nUSER_DATA: Analyze the following data for personalization:\n1. First Name: {{ $json.firstname }}\n2. Email: {{ $json.email }}\n3. Lifecycle Stage: {{ $json.lifecyclestage }}\n4. Industry: {{ $json.industry }}\n5. RFM Recency (R): {{ $json.rfm_recency }}\n6. RFM Frequency (F): {{ $json.rfm_frequency }}\n7. RFM Monetary (M): {{ $json.rfm_monetary }}\n8. Last Purchase Value: {{ $json.purchase_value }}\n9. Last Viewed Product: {{ $json.last_viewed }}\n10. Favorite Topics/Categories: {{ $json.favorite_content_topics }}\n\nUSER_INSTRUCTION:\nGenerate the email body text only, using the following logic:\n* If Recency (R) is high (e.g., R > 90) AND Lifecycle Stage is 'Customer': Focus on a win-back or re-engagement offer (e.g., a discount code).\n* If Recency (R) is low AND Frequency (F) is high: Focus on rewarding loyalty and introduce new, relevant products.\n* If 'last_viewed' is populated: Reference that product immediately and provide helpful or related content.\n* If 'last_viewed' is empty and Recency is low: Recommend a top seller in the '{{ $json.favorite_content_topics }}' category.\n\nGenerate only the email body text. Do not include any introduction or meta-text. Start the email with \"Hi {{ $json.firstname }},\".\n\nDo not include placeholders such as [insert CTA button], [link], or similar. Write natural call-to-actions in plain text.\n\nThe email must end exactly with \"Best Regards,\" followed by a line break and nothing else. Do NOT add any letters, initials, names, symbols, or additional text after the comma.\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -37952,
        -2432
      ],
      "id": "742424f4-4a47-4d5c-96ae-3b83181c5fe6",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama3.1:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -38064,
        -2256
      ],
      "id": "3045dc4a-2514-4122-8f5c-6cc4b5fa7e39",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "****",
          "name": "****"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Loop Over Items').item.json.email }}",
        "subject": "={{ $json.output }}",
        "emailType": "text",
        "message": "={{ $('AI Agent').item.json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -37088,
        -2336
      ],
      "id": "01e18729-e9dd-4ee9-9e57-2b16f005c862",
      "name": "Send a message",
      "webhookId": "****",
      "credentials": {
        "gmailOAuth2": {
          "id": "****",
          "name": "****"
        }
      }
    },
    {
      "parameters": {
        "authentication": "appToken",
        "email": "={{ $('Loop Over Items').item.json.email }}",
        "additionalFields": {
          "leadStatus": "CONNECTED"
        },
        "options": {
          "resolveData": false
        }
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [
        -36880,
        -2272
      ],
      "id": "a06834ab-4d51-46da-b927-88f552f15872",
      "name": "Create or update a contact",
      "credentials": {
        "hubspotAppToken": {
          "id": "****",
          "name": "****"
        }
      }
    },
    {
      "parameters": {
        "url": "****",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -39040,
        -2620
      ],
      "id": "d27ce2ea-e107-46d5-8f50-2f8051a65425",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "simple_memory"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -37904,
        -2240
      ],
      "id": "87cee5d9-1bb5-466a-a9a8-fb512b457682",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Generate **one short, sharp, professional email subject line**, under 6 words, personalized using the client data below.  \nDo not include emojis. Do not output explanations, examples, or extra text. Only output the subject line itself.\n\nClient Data:\nFirst Name: {{ $('Loop Over Items').item.json.firstname }}\nLast Viewed Product: {{ $('Loop Over Items').item.json.last_viewed }}\nFavorite Topics/Categories: {{ $('Loop Over Items').item.json.favorite_content_topics }}\nRFM Recency: {{ $('Loop Over Items').item.json.rfm_recency }}\nRFM Frequency: {{ $('Loop Over Items').item.json.rfm_frequency }}\nLast Purchase Value: {{ $('Loop Over Items').item.json.purchase_value }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -37632,
        -2432
      ],
      "id": "de794f15-9b6d-40c2-a8b4-94ff9c8c92e8",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": "llama3.1:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -37696,
        -2240
      ],
      "id": "e4cd283a-9dce-431f-8062-a4df3976784a",
      "name": "Ollama Chat Model1",
      "credentials": {
        "ollamaApi": {
          "id": "****",
          "name": "****"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "key_two"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -37552,
        -2240
      ],
      "id": "a73425d2-a8be-4ddc-aaf2-032b6335e5ad",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "sendTo": "****",
        "subject": "Error in stock Autoamtion workflow",
        "message": "=HI Milose, there is an error in {{ $json.workflowName }}.<br><br>\n\nPlease check the {{ $json.nodeName }} in {{ $json.workflowName }} and see the message below.<br><br>\n\nMessage from bot:<br>\n{{ $json.errorMessage }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -38080,
        -1920
      ],
      "id": "69a05726-c8d0-4035-b416-5139be7c34a3",
      "name": "Send a message1",
      "webhookId": "****",
      "credentials": {
        "gmailOAuth2": {
          "id": "****",
          "name": "****"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "****",
          "mode": "list",
          "cachedResultName": "Inventory Data",
          "cachedResultUrl": "****"
        },
        "sheetName": {
          "__rl": true,
          "value": 1184053928,
          "mode": "list",
          "cachedResultName": "Log sheet",
          "cachedResultUrl": "****"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $json.formattedDate }}",
            "nodeName": "={{ $('Edit Fields').item.json.nodeName }}",
            "errorMessage": "={{ $('Edit Fields').item.json.errorMessage }}",
            "workflowName": "={{ $('Edit Fields').item.json.workflowName }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nodeName",
              "displayName": "nodeName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "errorMessage",
              "displayName": "errorMessage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "workflowName",
              "displayName": "workflowName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -38304,
        -1920
      ],
      "id": "2d5bfdfc-6fdc-4784-a1ed-beb9cc1e3cc1",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "****",
          "name": "****"
        }
      }
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.timestamp }}",
        "format": "custom",
        "customFormat": "MMM dd, yyyy HH:mm:ss",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -38528,
        -1920
      ],
      "id": "2226f4b3-da62-4661-a837-397e199428d6",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\n\nconsole.log('Original timestamp:', item.timestamp);\n\nitem.timestamp = item.timestamp.split('+')[0];\n\nconsole.log('Clean timestamp:', item.timestamp);\n\nreturn [{ json: item }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -38752,
        -1920
      ],
      "id": "14c7a925-974f-422e-a525-117c35641767",
      "name": "Code1"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"timestamp\": {{ $now }},\n  \"nodeName\": \"{{ $json.execution.lastNodeExecuted }}\",\n  \"errorMessage\": \"{{ $json.execution.error.message }}\",\n  \"workflowName\": \"{{ $json.workflow.name }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -38976,
        -1920
      ],
      "id": "e897f470-3d3b-4020-9d01-87595cbec959",
      "name": "Edit Fields"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -39200,
        -1920
      ],
      "id": "89857080-f18c-4dc6-a-a8d-5335891191b8",
      "name": "Error Trigger"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -37296,
        -2400
      ],
      "id": "22adfa8c-871f-406e-bbd8-a0ad906a5588",
      "name": "Wait",
      "webhookId": "****"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "daysInterval": 3,
              "triggerAtHour": 13
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -39264,
        -2624
      ],
      "id": "2c7b9c38-e203-4f7a-840c-fb6a2af1dc72",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "Read/Write Files from Disk1": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Create or update a contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create or update a contact": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1afbe514-946f-45c5-9f23-09ba9d8723f2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fe31275b2dbab5a24e5b98a9aa5b684f0a6b7576757b3e8dda2840854ea84390"
  },
  "id": "VbSBF3VwaZqKqjHa",
  "tags": []
}
